@import "./assets/base";

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .text {
    font-size: 1rem;
    font-weight: $medium;
    color: $text-secondary;
    white-space: nowrap;
  }
}
