@import "assets/base";

.linkBox {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 300px;
  color: $white;
  overflow: hidden;

  .image {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s;
  }

  // black/transparent - radial gradient
  &::before {
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba($black, 0.6), $black);
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  .content {
    // border: 1px solid;
    position: relative;
    z-index: 3;
    width: 100%;
    text-align: center;
    transition: transform 0.15s;

    .label {
      font-size: 1.1rem;
      text-shadow: 0 0 2px $black;
    }

    .title {
      display: block;
      white-space: nowrap;
      color: rgba($white, 0.9);
      font-size: 2.3rem;
      font-weight: $medium;
      line-height: 1;
      text-shadow: 0 0 0.5rem rgba($black, 0.8);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .caption {
      position: absolute;
      top: calc(100% + 0.7rem);
      left: 50%;
      transform: translate(-50%, -15px);
      padding: 0.6rem 1rem;
      font-size: 1.1rem;
      color: lighten($text-secondary, 37%);
      border-radius: 3px;
      opacity: 0;
      transition: opacity 0.3s, transform 0.3s;

      // top caption bar
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 100%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 300px;
        height: 1px;
        background: linear-gradient(
          to right,
          transparent,
          $secondary,
          transparent
        );
        opacity: 0;
        transition: opacity 0.4s ease 0.2s;
      }

      i {
        text-decoration: underline;
      }
    }
  }

  &:hover {
    .image {
      transform: scale(1.1);
    }

    &::before {
      opacity: 0.7;
    }

    .content {
      transform: translateY(-2rem);

      .caption {
        opacity: 1;
        transform: translate(-50%, 0);

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &.average {
    .title {
      font-size: 4rem;
    }
  }

  &.imdb {
    .title {
      font-size: 2.8rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .content {
      padding: 0 1rem;

      .title {
        font-size: 2.8rem;
      }

      .caption {
        width: 100%;
      }
    }
  }
}
