// Misc
$top-zindex: 999;
$app-max-width: 1920px;
$approx-header-height: 80px;
$approx-footer-height: 80px;

// Typography
$font: "Titillium Web", sans-serif;

$light: 300;
$normal: 400;
$medium: 600;
$bold: 700;

$font-size-root: 14px;
$line-height-base: 1.4;

// Colors
$primary: #0087f7;
$secondary: #f5c518;

$text-primary: #282828;
$text-secondary: #646c7f;

$body-color: $text-primary;
$body-bg: #fafafa;

$black: #000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$white: #fff;

$link-color: #007bff;
